div {
    text-align: left;
}
    
.green{
    color: rgb(0, 255, 0);
}
    
.red{
    color: rgb(255, 0, 0);
}
    
h1{
    color: rgb(0, 0, 0);
 }
    
h3{
    color: rgb(0, 0, 0);
}
